<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- default-init-method="init" top-level <beans/> -->
	<bean id="callBackByPredefinedMethods" class="com.demo.CallBackBeanOne" />
	<bean id="callBackByXmlConfig" class="com.demo.CallBackBeanTwo"
		init-method="afterPropertiesSet" destroy-method="destroy" />

	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	<!-- or <context:annotation-config /> -->
	<bean name="callBackByDefaultMethod" class="com.demo.CallBackBeanThree" />
</beans>